body {
	background-color: #ffffcc;
}



.box {
	border: 3px solid green;
	width:100px;
	height: 100px;
	margin: 10px;
	display: inline-block;
	background-color: orange;
	padding: 50px;
	border-radius: 50%;
	font-size: 50px;

	
}

button {
	background-color: #bfbfbf; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 270px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}


h1 {
	color: black;
}